In [12]:
# 1. Count how many vowels are in a given string.

word = "I'm learning python!"
vowels = "aeiou"
count = 0
for w in word:
    if w.lower() in vowels:
        count += 1
print(f"Vowels in string : {count}")

Vowels in string : 5

In [11]:
# 2. Reverse a number using only a for loop (no slicing).
# Example: Input → 12345, Output → 54321

numbers = 12345
reverse = ""

for n in str(numbers):
    reverse = str(n) + str(reverse)
print(f"Reverse a number using only a for loop : {reverse}")

Reverse a number using only a for loop : 54321

In [9]:
# 3. Find the sum of digits of a number.
# Example: 5483 → 20

numbers = [5,4,8,3]
sum = 0

for num in numbers:
    sum += num
print(f"Sum of digits of numbers : {sum}")

Sum of digits of numbers : 20

In [19]:
# 4. Print all even numbers between 1 and 100 using a for loop.
print("Even Numbers : ")
for num in range(2,101,2):
    print(num, end=",")

Even Numbers :
2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [28]:
# 5. Find the factorial of a number.

number = int(input("Enter a number : "))
fact = 1

for i in range(1, number + 1):
    fact = fact * i
print(f"{number} factorial is {fact}")

4 factorial is 24

In [33]:
# 6. Check whether a number is prime using a for loop.

number = int(input("Enter a number : "))

if number >= 1:
    
    for i in range(2, number):
        if (number % i) == 0:
            print(f"{number} is not a prime number.")
            break
    else:
        print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

76 is not a prime number.

In [71]:
# 7. Print the multiplication table of a number up to 10.

number = int(input("Enter which multiplication table you want : "))

print(f"""Table {number} : 
      """)

for i in range(1,11):
    result = i * number
    print(f"{number} X {i} = {result}")

Table 6 :

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [70]:
# 8. Count how many digits are in a number.

number = input("Enter number : ")
count = 0

for i in number:
    count += 1
print(f"Digits in {number} : {count}")

Digits in 3456789 : 7

In [68]:
# 9. Find the largest number in a list.
# Example: [4, 7, 1, 9, 3]

number = [4, 7, 1, 9, 3]
max_number = number[0]

for num in number:
    if num > max_number:
        max_number = num
        
print(f"Largest number in a list : {max_number}")

Largest number in a list : 9

In [58]:
# 10. Print the following pattern for n = 4:

n = int(input("Enter a number : "))

for i in range(n + 1):
    for j in range(1, i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [90]:
# 11. From 1 to 50, find:

# a) sum of even numbers

even_numbers = []
sum = 0
for i in range(0,51,2):
    even_numbers.append(i)
    sum += i
print(f"Sum of even numbers from 1 to 50 : {sum}")

# b) sum of odd numbers

odd_numbers = []
sum = 0
for i in range(1,51,2):
    odd_numbers.append(i)
    sum += i
print(f"Sum of odd numbers from 1 to 50 : {sum}")

Sum of even numbers from 1 to 50 : 650
Sum of odd numbers from 1 to 50 : 625

In [ ]:
# 12. Remove all spaces from a string.
# Example: "data science rocks" → "datasciencerocks"

string = "data science rocks"
no_space = ""

for s in string:
    if s != " ":
        no_space += s
        
print(f"""String : {string}
Removing spaces : {no_space}""")

String : data science rocks
Removing spaces : datasciencerocks

In [116]:
# 13. Check whether a string is a palindrome.
# Example: "madam"

string = input("Enter a word : ")
is_palindrome = True

for i in range(len(string) // 2):
    if string.lower()[i] != string[-(i + 1)]:
        is_palindrome = False
        break
    
if is_palindrome:
    print("Its a Palindrome!")
else:
    print("Its not a Palindrome!")

Its a Palindrome!

In [125]:
# 14. Find duplicate values in a list.
# Example: [1,2,3,2,4,5,1]

my_list = [1,2,3,2,4,5,1]
dup_value = []
seen = []

for value in my_list:
    if value in seen:
        if value not in dup_value:
            dup_value.append(value)
    else:
        seen.append(value)
        
print((dup_value))

[2, 1]

In [129]:
# 15. Print the frequency of each character in a string.
# Example: "banana"

string = input("Enter character : ")
frequency = {}

for i in string:
    if i in frequency:
        frequency[i] += 1
    else:
        frequency[i] = 1
print(frequency)

{'b': 1, 'a': 3, 'n': 2}