In [5]:
# Question 1: Create a tuple of first 10 natural numbers

natural_num = tuple(range(1, 11))
print(f"First 10 natural numbers : {natural_num}")

First 10 natural numbers : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [6]:
# Question 2: Find the length of tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(f"Length of tuple : {len(my_tuple)}")

Length of tuple : 10

In [3]:
# Question 3: Access the 3rd element from tuple ('a', 'b', 'c', 'd', 'e')

my_tuple = ('a', 'b', 'c', 'd', 'e')
print(f"3rd element : {my_tuple[2]}")

3rd element : c

In [2]:
# Question 4: Find the maximum value in tuple (23, 45, 12, 67, 34, 89, 56)

my_tuple = (23, 45, 12, 67, 34, 89, 56)
print(f"Maximum value : {max(my_tuple)}")

Maximum value : 89

In [16]:
# Question 5: Count how many times 5 appears in (1, 5, 2, 5, 3, 5, 4, 5, 6)

my_tuple = (1, 5, 2, 5, 3, 5, 4, 5, 6)
print(f"Count of 5 : {my_tuple.count(5)}")

Count of 5 : 4

In [15]:
# Question 6: Create a tuple of mixed data types (integer, float, string, boolean)

my_data = (33, 55.5, "laptop", False)
print(type(my_data))
for i in my_data:
    print(i, ":", type(i))

<class 'tuple'>
33 : <class 'int'>
55.5 : <class 'float'>
laptop : <class 'str'>
False : <class 'bool'>

In [18]:
# Question 7: Find the index of element 'python' in ('java', 'python', 'c++', 'javascript')

my_tuple = ('java', 'python', 'c++', 'javascript')
print(f"Index of python : {my_tuple.index('python')}")

Index of python : 1

In [19]:
# Question 8: Check if 25 exists in tuple (10, 20, 30, 40, 50)

my_tuple = (10, 20, 30, 40, 50)
if 25 in my_tuple:
    print("25 exists in tuple.")
else:
    print("25 doesn't exists in tuple.")

25 doesn't exists in tuple.

In [ ]:
# Question 9: Create a tuple of first 5 even numbers

even_num = tuple(range(2,11,2))
print(f"First five even numbers : {even_num}")

First five even numbers : (2, 4, 6, 8, 10)

tuple

In [38]:
# Question 10: Find the average of numbers in tuple (15, 23, 31, 42, 56, 78)

my_tuple = (15, 23, 31, 42, 56, 78)
average = sum(my_tuple) / len(my_tuple)
print(f"Average : {average:.2f}")

Average : 40.83